<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form #productForm="ngForm">
    <mat-form-field>
      <mat-label>Nome do Produto</mat-label>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="product.nome"
        name="nome"
        maxlength="15"
        required
      />
      <mat-error *ngIf="productForm.submitted && !product.nome">Nome é obrigatório.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preço de Venda (R$)</mat-label>
      <input
        matInput
        placeholder="Digite o preço"
        [(ngModel)]="product.precoDeVenda"
        name="precoDeVenda"
        type="number"
        required
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
      <mat-error *ngIf="productForm.submitted && !product.precoDeVenda">Preço é obrigatório.</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Descrição do Produto</mat-label>
      <textarea
        matInput
        placeholder="Descrição do produto"
        [(ngModel)]="product.descricao"
        name="descricao"
        maxlength="30"
        required
      ></textarea>
      <mat-error *ngIf="productForm.submitted && !product.descricao">Descrição é obrigatória.</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Quantidade de Produtos</mat-label>
      <input
        matInput
        placeholder="Insira a quantidade"
        [ngModel]="product.quantidade === 0 ? '' : product.quantidade" 
        name="quantidade"
        [ngModelOptions]="{ standalone: true }"
        type="number"
        (focus)="onQuantidadeFocus()"
        (blur)="onQuantidadeBlur()"
        (ngModelChange)="product.quantidade = $event ? +$event : 0"
      />
      <mat-error *ngIf="productForm.submitted && product.quantidade === null">Quantidade é obrigatória.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo do Produto</mat-label>
      <mat-select placeholder="Tipo" [(ngModel)]="product.tipo" name="tipo" required>
        <mat-option [value]="0">Orgânico</mat-option>
        <mat-option [value]="1">Não Orgânico</mat-option>
      </mat-select>
      <mat-error *ngIf="productForm.submitted && !product.tipo">Tipo é obrigatório.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Cadastro</mat-label>
      <input
        matInput
        type="date"
        [(ngModel)]="product.dataDeCadastro"
        name="dataDeCadastro"
        placeholder="Selecione a data"
        required
      />
      <mat-error *ngIf="productForm.submitted && !product.dataDeCadastro">Data é obrigatória.</mat-error>
    </mat-form-field>
  </form>
</mat-card>
<div>
  <button mat-raised-button (click)="createProduct(productForm)" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</div>
